:root {
  --grad-1: #ce9009;
  --grad-2: #c40c56;
  --bg: #ccc;
  --text-color: #000;
  --link-color: #0b28b0;
  --highlight-background-color: rgba(255, 255, 255, 0.2);
  --menu-icon-color: #fff;
  --menu-bg-color: rgb(86, 86, 86, 0.77);
}
